<div class='nested-fields enfants'>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
    <%= f.input :name %>
    </div>
    <div class="col-sm-6 col-xs-12">
    <%= f.input :detail_price_cents %>
     <%= f.check_box :_destroy %>
    </div>
  </div>
    <%= link_to_remove_association "remove prestation", f %>
</div>
