<h1>Bonjour M. <%= @request.name %> </h1>

<p>
Nous n'avons pas reçu de confirmation de votre part <br>
Vous avez été retiré de la liste d'attente.
</p>

<p>Salutations,</p>

<p>Espace de coworking</p>
