<h5>Bonjour M. <%= @request.name %> </h5>

<p>
Nous n'avons pas reçu de confirmation de votre part <br>
Vous avez été retirés de la liste d'attente.
</p>

<p>Salutations,</p>

<p>L'espace de coworking</p>
