<h1>Bonjour M. <%= @request.name %> </h1>

<p>
Nous avons le plaisir de vous annoncer que votre requete d'inscription a été acceptée. <br>
Nous faisons face à une forte demande d'adhesion. Vous avez donc été placé sur liste d'attenet. <br>
Place sur la liste d'attente :<%= @request.ranking %>
</p>

<p>Salutations,</p>

<p>Espace de coworking</p>
