<h5>Bonjour M. <%= @request.name %> </h5>

<p>
Cela fait maintenant 3 mois que vous êtes sur liste d'attente. <br>
Si malgré cette longue periode sans nouvelle, vous etes toujours intéressés pour nous rejoindre, merci  de cliquez sur <%= link_to 'confirmer', reconfirmation_request_url(@request) %>. <br>
Rappel de votre place sur liste d'attente :<%= @request.ranking %> <br>

Si dans 7 jours, vous n'avez pas confirmer votre intéret, vous serez supprimés de la liste d'attente automatiquement.
</p>

<p>Salutations,</p>

<p>Espace de coworking</p>
