
.pad {
  padding-top: 20px
}

.white-background{
  background-color: white;
}

.small-paginate {
  font-size: 10px;
}

.parents {
  padding: 10px;
  margin: 10px;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.enfants {
  padding: 10px;
  margin: 10px;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
}

.fc-left h2{
  font-size: 18px;
   padding: 5px;
}

.ant{
  height: 20px;
}
